.nav-bar-container {
  background-color: black;
  color: white;
  text-align: center;
}
.tab-title{
  color: white;
  text-align: center;
}
.header{
  height: 150px;
  width: 100%;
}

.nav-button {
  width: 100%;
  background-color: black;

}
.nav-button:hover {
  background-color: white;
  color: black;
}

.nav-button.active {
  background-color: white;
  color: black;
}
