<div class="container-fluid" ng-controller="NavigationController">
  <div class="row nav-bar" ng-init="tab = 1">
    <div class="col-sm-3">
      <button type="button" ng-class="{active:tab === 1}" class="btn btn-primary nav-button" ng-click="tab = 1">Home</button>
    </div>
    <div class="col-sm-3">
      <button type="button" ng-class="{active:tab === 2}" class="btn btn-primary nav-button" ng-click="tab = 2">Misc</button>
    </div>
    <div class="col-sm-3">
      <button type="button" ng-class="{active:tab === 3}" class="btn btn-primary nav-button" ng-click="tab = 3">Projects</button>
    </div>
    <div class="col-sm-3">
      <button type="button" ng-class="{active:tab === 4}" class="btn btn-primary nav-button" ng-click="tab = 4">About</button>
    </div>
  </div>
  <br/>
  <home ng-show="tab === 1"></home>
  <projects ng-show="tab === 3"></projects>
</div>
