<div class="container" ng-controller="HomeController as HomeCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      {{HomeCtrl.bio}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="icon-container">
        <a href="https://www.linkedin.com/in/minahm-kim-67607752">
          <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/bmkworks">
          <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
        </a>
        <a href="https://www.github.com/kimminahm">
          <i class="fa fa-github-alt fa-3x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="app/css/home.css">
